:root{
  --red: #FF6565;
  --white: #ffff;
  --black: #071629;
}

*{
  margin: 0;
  padding: 0;
  font-family:'Source Sans Pro';
}
.hero-container{
  background-image: url(./assets/images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 95vh;
  padding-top: 5vh;
  padding-bottom: 100px;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15vw;
  flex-direction: 1;
}

.nav-list{
  display: flex;
  gap: 30px;
}

.nav-container li, .nav-container a{
  color: var(--white);
  text-decoration: none;
  list-style: none;
}

.hero-cta h2, 
.hero-cta h3, 
.hero-cta p{
  color: var(--white);
  text-align: center;
}

.hero-cta{
  margin: 0 auto;
  width: 637px;
  height: 313px;
  padding-top: 400px;
}

.hero-cta h2{
  font-size: 32px;
  font-weight: bold;
}

.hero-cta h3{
  font-size: 16px;
  padding-top: 5px;
  font-weight: bold;
}

.call-to-action{
  margin: 30px auto 60px;
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  text-decoration: none;
  border: none;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0px 2px 100px black;
}

.hero-cta p{
  margin-top: 100px;
  line-height: 26px;

}
